---
Checks: >
  -*,
  google-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  bugprone-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-identifier-naming,
  -bugprone-easily-swappable-parameters,
  -modernize-use-nodiscard,
  -modernize-use-using,
  -performance-enum-size,
  -readability-convert-member-functions-to-static,
  -clang-diagnostic-error,
  -readability-function-cognitive-complexity

WarningsAsErrors: ''
HeaderFilterRegex: '^.*src/.*$'
SystemHeaders: false
FormatStyle: google

CheckOptions:
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-build-namespaces.HeaderFileExtensions
    value:           'h,hpp,hxx'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.ConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.ConstantPrefix
    value:           'k'
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalConstantPrefix
    value:           'k'
  - key:             readability-identifier-naming.StaticConstantCase
    value:           CamelCase
  - key:             readability-identifier-naming.StaticConstantPrefix
    value:           'k'
  - key:             readability-identifier-naming.NamespaceCase
    value:           lower_case
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-pass-by-value.IncludeStyle
    value:           google
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'